<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Car spareparts</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<body class="car-app container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 well">
        <h1>CAR PARTS</h1>

        <%- body %>
      </div>
    </div>

</body>

</body>
</html>